body{
    margin:0;
    padding:0;

}
body::-webkit-scrollbar{
    width:12px;
}
body::-webkit-scrollbar-track{
    background:white;
    border-radius: 12px;
    margin:4px 0;
}
body::-webkit-scrollbar-thumb{
    background:rgb(115, 115, 115);
    border-radius: 30px;
    border:3px solid rgb(115, 115, 115);
}
#hedd{
    display:flex;
    justify-content: space-between;
    font-family:'Libre Caslon Display';
    margin:0;
    font-weight:90;
    line-height: 1.1em;
    font-size: 36;
    padding-left: 18;
    padding-top: 13;
    height:283;
    background:url(images/loaf.jpg) no-repeat left top, url(images/board.jpg) no-repeat right top;
}
#ewe{
    text-align: right;
  
}

#call{
    padding-top: 15px;
    height: 30px;
    padding-bottom: 0%;
}


#menu{
    font-size: small;
    font-family: 'Sans-serif';
    font-weight: 60;
    font-stretch: expanded;

}
#MENU a{
    text-decoration: none;
    font-family: 'Sans-serif';
    font-weight: 60;
    color:rgb(63, 62, 62);
    padding:15;
    font-size: 18;}
#menu a:hover{
    color:rgba(175, 96, 42, 0.65)

}
.headingg, .headingg2, .headingg3, .headingg5{
    font-size:70;
    text-align:center;
    font-family:'Libre Caslon Display';
    line-height: 1.1em;
    font-weight:280;
    padding-bottom: 20;
    color: rgb(42, 42, 42);
}
.headingg2, .headingg3{
    font-size:42;
    padding-bottom:80;
}
.headingg3, .headingg5{
    text-align: left;
    padding-left: 51%;
    padding-bottom: 15;
}
.subheadingg, .subheadingg2,.subheadingg1{
    font-size: 19;
    font-family: "Sans serif";
    font-weight:350;
    padding-top:0;
    font-stretch: condensed;
    padding-bottom:35;
    text-align:center;
    color:rgba(156, 87, 7, 0.514)
}
.subheadingg1{
    text-align:left;
    padding-left: 51%;
    padding-top: 110;
    padding-bottom: 25;
}


.button{display: inline-block;

cursor: pointer;
border-radius: 500px;
border:rgba(156, 87, 7, 0.514) ;
letter-spacing: 2px;
width:250px;
text-align: center;
font-size: 16;
padding: 20px 18px 20px;
color: #fff;
background-color: #1b1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height:72px;
    margin:0 auto;
    
}
.button:hover { background-color:rgba(175, 96, 42, 0.65);}

.secgray{
    
    height:88em;
    margin:0;
    padding:0 ;
    background:url('images/wheatt.jpg') no-repeat bottom center, url(images/cookie.jpg) no-repeat top center ;
    background-color:rgba(241,244,239,1);
}
.greyy, .greyy1, .greyy2{
    text-align: center;
    color: gray;
    padding-top: 90;
    padding-bottom: 0;
    font-size: 18;
    font-weight: 300;
    font-family:'Noto sans';
    
}
.greyy a{
    text-decoration: none;
    color:black;
}
.greyy a:hover{
    text-decoration: underline;
    
}
.greyy1, .greyy2{
    padding-top: 5;
    padding-bottom:25;
    text-align:left;
    padding-left: 51%;
    font-weight: 300;

}
.imgg{
    padding-left: 12;
    padding-right:10;
}

.headingg5{
    font-size:24;
    font-weight:20;
    padding-right:25;


}
#image1{
    padding-top:200;
    padding-right:18;
}

.subheadingg2{
    text-align: left;
    padding-left:20;
    padding-bottom: 12px;
}

#heading3{
    padding-left: 20;
    font-family:'Libre Caslon Display';
    line-height: 1.1em;
    font-weight:280;
    font-size:42;
    color:rgb(42, 42, 42);
    
}


#image2{
    padding-top: 200;
}

.secwhiteaftergrey{
    background-color:rgb(255, 255, 255);
    height: 80em;
}

.greyy2{
    padding-left: 20;
    padding-top: 20;
}
#buttonleft{
    padding-left: 20;
    padding-top: 10;
}
.button1{

    cursor: pointer;
    border-radius: 500px;
    border:rgba(156, 87, 7, 0.514) ;
    letter-spacing: 1.5px;
    width:250px;
    text-align: center;
    font-size: 17;
    padding: 17px 14px 18px;
    color: #fff;
    background-color: #1b1a1a;
        justify-content: center;
        align-items: center;
        height:72px;
        margin:auto;
        
    }
.button1:hover { background-color:rgba(175, 96, 42, 0.65);}

.imgleft{
    padding-left:20;
    padding-top:0;
    margin-top:-70;
    align-items:left ;
}

.icons{
    padding-top: 30;
    padding-left:  30;
}
